BUILD.llguidance text eol=lf
prebuilt/*/*.so -filter -diff -merge -text
prebuilt/*/*.dylib -filter -diff -merge -text
prebuilt/*/*.dll -filter -diff -merge -text
prebuilt/*/*.lib -filter -diff -merge -text
prebuilt/*/lit -filter -diff -merge -text
prebuilt/*/lit.exe -filter -diff -merge -text
